body {
  padding-bottom: 3rem;
}

div.modal {
  display: flex;
  justify-content: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.add-button-row {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.search-input-group {
  margin-left: 0;
}